body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    color: #333;
}

#index-page {
    text-align: center;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    color: #004d75;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007a8c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f6b;
}

button + button {
    margin-top: 10px; 
}

#ar-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0e8ec;
}

#ar-text {
    font-size: 24px;
    color: #007a8c;
}

#unsupported-message {
    color: #d9534f;
    font-size: 18px;
    margin-top: 20px;
}
#index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
}

#index-page > *:last-child {
    margin-bottom: 0;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px; 
    animation: spin 2s linear infinite;
    /* display: none; /* Hidden by default */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }